.breadcrumb{
  margin-bottom: auto;
}
nav-item{
    background-color: white;
    min-height: 110px;
}
.images{
    height:75px;
    width:75px;
}
.site-title{
    font-size: 34px;
}
.site-title{
    clear: none;
    font-family: "Merriweather Sans",sans-serif;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 6px;
    margin-right: auto;
}
a, a:visited {
    color: #294a70;
    text-decoration: inherit;
    background-color: transparent;
}
.breadcrumb{
    background-color:#294a70;
}
#nav{
    background-color:#294a70;
}
.btn{
    background-color:#294a70;
    color:white;
    font-weight: bold;
}
.dropdown{
    margin-top:auto;
    margin-bottom: auto;
}
.dropdown-menu{
    background-color:lightblue;
}
